<div>

    <h3>Formulario de registro</h3>

    <div class="signup-card">

<form action="/auth/signup" method="post">

   <label for="username">*Usuario:</label>
   <input type="text" name="username">

   <br>
   <br>

   <label for="password">*Contraseña:</label>
   <input type="password" name="password">


   <p>* Campos obligatorios.</p>

<br>
<br>

<button>Registrar</button>

</form>


<p>{{errorMessage}}</p>

</div>

</div>